*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{
    background-color: limegreen;
    transition: 0.5s;
}
.main{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:30rem;
    /* height: 15rem; */
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    background-color: aqua;
    text-align: center;
}
button{
    width:100%;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    display: block;
    color: rgb(254, 254, 255);
    background-color: rgb(7, 2, 15);

}